# UCF file for the XC6SLX9 FPGA miniboard
# EP 2018-05-02 for the breadboard project

NET LED(0) LOC = P138 | IOSTANDARD=LVCMOS33;
NET LED(1) LOC = P137 | IOSTANDARD=LVCMOS33;
NET LED(2) LOC = P134 | IOSTANDARD=LVCMOS33;
NET LED(3) LOC = P133 | IOSTANDARD=LVCMOS33;
NET LED(4) LOC = P120 | IOSTANDARD=LVCMOS33;
NET LED(5) LOC = P119 | IOSTANDARD=LVCMOS33;
NET LED(6) LOC = P118 | IOSTANDARD=LVCMOS33;
NET LED(7) LOC = P117 | IOSTANDARD=LVCMOS33;
NET CLKIN LOC = P50;
NET CLKIN IOSTANDARD=LVCMOS33 | PERIOD=20.0ns;
NET XOUT	   LOC = P46  | IOSTANDARD=LVCMOS33;
NET RIN	   LOC = P47  | IOSTANDARD=LVCMOS33;

#NET SW1     LOC = P132 | IOSTANDARD=LVCMOS33;		
NET RESET     LOC = P132 | IOSTANDARD=LVCMOS33;		

# NET SW2	   LOC = P131 | IOSTANDARD=LVCMOS33;
NET TEST 	LOC=P45 | IOSTANDARD=LVCMOS33;		

