# UCF file for the XC6SLX16 FPGA SDRAM board
# EP 2018-05-07 for the breadboard project

NET CLKIN LOC = A10;
NET CLKIN IOSTANDARD=LVCMOS33 | PERIOD=20.0ns;
NET XOUT	   LOC = A4  | IOSTANDARD=LVCMOS33;
NET RIN	   LOC = B5  | IOSTANDARD=LVCMOS33;
NET RESET_n     LOC = R7 | IOSTANDARD=LVCMOS33;		

# odd numbered pins below, starting from pin 5 (M11)
NET DEBUG_RX_DATA  LOC=M11 | IOSTANDARD=LVCMOS33;		# 7
NET DEBUG_RX_SHIFT LOC=P11 | IOSTANDARD=LVCMOS33;		
NET DEBUG_RX_1     LOC=M9  | IOSTANDARD=LVCMOS33;		
NET DEBUG_RX_2     LOC=T7  | IOSTANDARD=LVCMOS33;		# 11
# R5
# T4
# L7
# P6  pin 19
# N6
# N5
# M6
# C6
# E6 pin 29
# D8
# D9
# F10
# C10 pin 37