# UCF file for the XC6SLX16 FPGA SDRAM board
# EP 2018-05-07 for the breadboard project

NET CLKIN LOC = A10;
NET CLKIN IOSTANDARD=LVCMOS33 | PERIOD=20.0ns;
NET XOUT	   LOC = A4  | IOSTANDARD=LVCMOS33;
NET RIN	   LOC = B5  | IOSTANDARD=LVCMOS33;
NET RESET_n     LOC = R7 | IOSTANDARD=LVCMOS33;		

# odd numbered pins below, starting from pin 5 (M11)
NET RXDEBUG[0]  LOC=M11 | IOSTANDARD=LVCMOS33;		# 5
NET RXDEBUG[1]  LOC=P11 | IOSTANDARD=LVCMOS33;		
NET RXDEBUG[2]  LOC=M9  | IOSTANDARD=LVCMOS33;		
NET RXDEBUG[3]  LOC=T7  | IOSTANDARD=LVCMOS33;		# 11
NET RXDEBUG[4]  LOC=R5  | IOSTANDARD=LVCMOS33;
NET RXDEBUG[5]  LOC=T4  | IOSTANDARD=LVCMOS33;
NET RXDEBUG[6]  LOC=L7  | IOSTANDARD=LVCMOS33;
NET RXDEBUG[7]  LOC=P6  | IOSTANDARD=LVCMOS33;	# pin 19
NET RXDEBUG[8]  LOC=N6  | IOSTANDARD=LVCMOS33;
NET RXDEBUG[9]  LOC=N5  | IOSTANDARD=LVCMOS33;
# M6
# C6
# E6 pin 29
# D8
# D9
# F10
# C10 pin 37

NET LED1 LOC=T9 | IOSTANDARD=LVCMOS33;
NET LED3 LOC=R9 | IOSTANDARD=LVCMOS33;

# SDRAM interface, copied form QMTECH example and renamed
NET "SDRAM_CLK" 			LOC = H1 	| IOSTANDARD = LVTTL; //100M SDRAM Clock
NET "SDRAM_CKE" 			LOC = J1 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQM[0]"		LOC = F3 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQM[1]"		LOC = H2 	| IOSTANDARD = LVTTL;
NET "SDRAM_nCAS" 			LOC = H3 	| IOSTANDARD = LVTTL;
NET "SDRAM_nRAS" 			LOC = J4 	| IOSTANDARD = LVTTL;
NET "SDRAM_nWE" 			LOC = G3 	| IOSTANDARD = LVTTL;
NET "SDRAM_CS" 			LOC = J3 	| IOSTANDARD = LVTTL;

NET "SDRAM_DQ[0]" 		LOC = A3 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[1]" 		LOC = A2 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[2]" 		LOC = B3 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[3]" 		LOC = B2 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[4]" 		LOC = C3 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[5]" 		LOC = C2 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[6]" 		LOC = D3 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[7]" 		LOC = E3 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[8]" 		LOC = G1 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[9]" 		LOC = F1 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[10]" 		LOC = F2 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[11]" 		LOC = E1 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[12]" 		LOC = E2 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[13]" 		LOC = D1 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[14]" 		LOC = C1 	| IOSTANDARD = LVTTL;
NET "SDRAM_DQ[15]" 		LOC = B1 	| IOSTANDARD = LVTTL;

NET "SDRAM_ADDR[0]" 		LOC = L4 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[1]" 		LOC = M3 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[2]" 		LOC = M4 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[3]" 		LOC = N3 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[4]" 		LOC = R2 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[5]" 		LOC = R1 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[6]" 		LOC = P2 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[7]" 		LOC = P1 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[8]" 		LOC = N1 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[9]" 		LOC = M1 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[10]" 	LOC = L3 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[11]" 	LOC = L1 	| IOSTANDARD = LVTTL;
NET "SDRAM_ADDR[12]" 	LOC = K1 	| IOSTANDARD = LVTTL;

NET "SDRAM_BA[0]" 		LOC = K3 	| IOSTANDARD = LVTTL;
NET "SDRAM_BA[1]" 		LOC = K2 	| IOSTANDARD = LVTTL;